.p1{
    background-color: aqua;
    color: #e18814;
    border: 2px solid black;
}

.btn1{
    background-color: black;
    color: white;
    background-color: 4px solid rgb(212, 195, 195);
    padding: 2px;
    margin: 2px;
}